streamlit
PyMuPDF
google-generativeai
accelerate 
poppler 
pandas
langchain
langchain-community
faiss-cpu
sentence-transformers
transformers==4.40.2
torch==2.0.1
python-docx
ollama
google-cloud-vision
pdf2image
Pillow
python-dotenv
