streamlit
PyMuPDF
google-generativeai
pandas
langchain
langchain-community
faiss-cpu
sentence-transformers
transformers
torch==2.0.1
python-docx
ollama
google-cloud-vision
pdf2image
Pillow
python-dotenv
